<!DOCTYPE html>
<html lang="en">

<head>
  <%-include('head') %>
</head>

<body>
  <%-include('header') %>
    <div class="container">
      <h3 class="p-2">問卷紀錄表</h3>
      <div class="d-flex" role="search">
        <input id="dateStatr" class="form-control me-1" type="date" placeholder="搜尋：學生姓名，家長姓名，學校" aria-label="start">
        <input id="dateEnd" class="form-control me-1" type="date" placeholder="搜尋：學生姓名，家長姓名，學校" aria-label="end">
        <input id="keyword" class="form-control me-1" type="search" placeholder="搜尋：學生姓名，家長姓名，學校" aria-label="Search">
        <button class="btn btn-outline-success text-nowrap" type="submit" onclick="searchAskacademy()">搜尋</button>
      </div>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th class="nowrap">ＩＤ</th>
            <th class="nowrap">填表日期</th>
            <th class="nowrap">學生姓名</th>
            <th class="nowrap">學校</th>
            <th class="nowrap">聯絡電話</th>
            <th class="nowrap">可聯絡時間</th>
            <th class="nowrap">希望科目</th>
          </tr>
        </thead>
        <tbody id="list"></tbody>
      </table>
    </div>

</body>

</html>