<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('head') %>
    <title>教職員登入</title>
</head>
<body>
    <div class='container p-5'>
        <div class="card mx-auto text-center" style="width: 18rem;">
            <img src="/images/fjbc1.png" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title">會員登入</h5>
                <div class="input-group p-1">
                    <span class="input-group-text">登入帳號</span>
                    <input type="text" aria-label="student_name" id="student_name" class="form-control" />
                </div>
                <div class="input-group p-1">
                    <span class="input-group-text">登入密碼</span>
                    <input type="text" aria-label="student_name" id="student_name" class="form-control" />
                </div>
                <button class="btn btn-primary" onclick="login()">登入</button>
            </div>
        </div>
    </div>
</body>
</html>