<!DOCTYPE html>
<html lang="en">

<head>
  <%-include('head') %>
</head>

<body>
  <%-include('mobile_header') %>
    <div class="container px-5">
      <h3 class="p-2">負責學生表</h3>
      <div class="input-group" role="search">
        <span class="input-group-text">起始</span>
        <input id="dateStatr" class="form-control" type="date" aria-label="start">
      </div>
      <div class="input-group" role="search">
        <span class="input-group-text">結束</span>
        <input id="dateEnd" class="form-control" type="date" aria-label="end">
      </div>
      <div class="input-group" role="search">
        <span class="input-group-text">搜尋</span>
        <select id="keyword" class="form-select"></select>
        <button class="btn btn-outline-success text-nowrap" type="submit" onclick="searchAskacademy()">搜尋</button>
      </div>
      <div id="primary_list"></div>
      <div id="secondary_list"></div>
    </div>
</body>

</html>