<!DOCTYPE html>
<html lang="en">

<head>
  <%-include('head') %>
    <style>
      .finish {
        text-decoration: line-through;
      }
    </style>
</head>

<body>
  <%-include('header') %>
    <%-include('modal') %>
      <div class="container px-5">
        <h3 class="p-2">追蹤紀錄</h3>
        <div class="input-group" role="search">
          <span class="input-group-text">起始</span>
          <input id="dateStatr" class="form-control" type="date" aria-label="start">
          <span class="input-group-text">結束</span>
          <input id="dateEnd" class="form-control" type="date" aria-label="end">
          <span class="input-group-text">搜尋</span>
          <input id="keyword" class="form-control" type="search" placeholder="姓名、電話" aria-label="Search">
          <button class="btn btn-outline-success text-nowrap" type="submit" onclick="searchAskacademytrack()">搜尋</button>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th class="nowrap w-10">狀態</th>
              <th class="nowrap w-10">日期</th>
              <th class="nowrap w-20">學生姓名</th>
              <th class="nowrap w-10">電話</th>
              <th class="nowrap w-50">追蹤內容</th>
            </tr>
          </thead>
          <tbody id="list"></tbody>
        </table>
      </div>
</body>

</html>